@charset "UTF-8";
/**
 * @name:问诊单
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/3/6
 * @author: 王井荣
 */
/**
 * @name:公用页头
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/20
 * @author: qiangkailiang
 */
.main-header {
  background-color: #fff;
  width: 100%;
  padding: 0.26667rem 0.4rem;
  border-bottom: 1px solid #d7dbde;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  display: none; }
  .main-header-item {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .main-header-item:nth-last-child(1) {
      text-align: right; }
    .main-header-item:nth-child(1) {
      text-align: left; }
    .main-header-item > a {
      font-size: 17px; }
      [data-dpr="2"] .main-header-item > a {
        font-size: 34px; }
      [data-dpr="3"] .main-header-item > a {
        font-size: 51px; }
      .main-header-item > a.main-header-item-pre {
        color: #333; }
      .main-header-item > a > img {
        width: 0.8rem;
        height: 0.8rem;
        vertical-align: top; }
    .main-header-item > h3 {
      font-size: 17px;
      font-weight: normal;
      color: #222; }
      [data-dpr="2"] .main-header-item > h3 {
        font-size: 34px; }
      [data-dpr="3"] .main-header-item > h3 {
        font-size: 51px; }

/**
 * @name:头部搜索选择公共样式
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/24
 * @Dev: JuKun
 */
/**
 * @name:公用页头
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/20
 * @author: qiangkailiang
 */
.main-header {
  background-color: #fff;
  width: 100%;
  padding: 0.26667rem 0.4rem;
  border-bottom: 1px solid #d7dbde;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  display: none; }
  .main-header-item {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .main-header-item:nth-last-child(1) {
      text-align: right; }
    .main-header-item:nth-child(1) {
      text-align: left; }
    .main-header-item > a {
      font-size: 17px; }
      [data-dpr="2"] .main-header-item > a {
        font-size: 34px; }
      [data-dpr="3"] .main-header-item > a {
        font-size: 51px; }
      .main-header-item > a.main-header-item-pre {
        color: #333; }
      .main-header-item > a > img {
        width: 0.8rem;
        height: 0.8rem;
        vertical-align: top; }
    .main-header-item > h3 {
      font-size: 17px;
      font-weight: normal;
      color: #222; }
      [data-dpr="2"] .main-header-item > h3 {
        font-size: 34px; }
      [data-dpr="3"] .main-header-item > h3 {
        font-size: 51px; }

.tc-mainInner .tc-searchCommFixedTop {
  position: fixed;
  width: 100%; }

.tc-mainInner .tc-searchCommTop {
  padding: 0.26667rem;
  background-color: #F3F6F7;
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .tc-mainInner .tc-searchCommTop .tc-searchCommInput {
    box-sizing: border-box;
    font-size: 15px;
    color: #555555;
    width: 100%;
    height: 0.77333rem;
    padding-left: 0.8rem;
    margin: 0 auto;
    outline: none;
    border-style: none;
    border-radius: 0.10667rem; }
    [data-dpr="2"] .tc-mainInner .tc-searchCommTop .tc-searchCommInput {
      font-size: 30px; }
    [data-dpr="3"] .tc-mainInner .tc-searchCommTop .tc-searchCommInput {
      font-size: 45px; }
  .tc-mainInner .tc-searchCommTop .tc-searchBtnPic {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("/image/img00/patientConsult/inquire_search@2x.png");
    background-size: 100% 100%;
    position: absolute;
    left: 0.53333rem;
    top: 50%;
    margin-top: -0.2rem; }

/**
* @Desc：
* @Usage:
* @Notify：
* @Depend：
*
* Created by jukun on 2017/3/2
*/
.search-box {
  overflow: hidden;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-color: #fff; }
  .search-box.show {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

.tc-searchMain {
  margin-top: 1.3rem;
  height: 100%;
  overflow: auto; }
  .tc-searchMain .main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0; }
    .tc-searchMain .main-header .tc-searchBackBtn {
      font-size: 16px;
      line-height: 0.8rem;
      color: #000; }
      [data-dpr="2"] .tc-searchMain .main-header .tc-searchBackBtn {
        font-size: 32px; }
      [data-dpr="3"] .tc-searchMain .main-header .tc-searchBackBtn {
        font-size: 48px; }
  .tc-searchMain .tc-searchContentInner .tc-searchDocArea {
    padding: 0.16rem 0.53333rem;
    box-sizing: border-box;
    border-bottom: 1px solid #DFDFDF;
    width: 100%;
    background: #FFF; }
    .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchDocAreaLeft {
      display: inline-block;
      width: 0.13333rem;
      height: 0.24rem;
      background: url("/image/img00/patientConsult/searchAreaLeft.png");
      background-size: 100% 100%; }
    .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchAreaName {
      font-size: 13px;
      color: #909090;
      padding-left: 0.13333rem; }
      [data-dpr="2"] .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchAreaName {
        font-size: 26px; }
      [data-dpr="3"] .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchAreaName {
        font-size: 39px; }
      .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchAreaName.tc-selectIllnessName {
        padding-left: 0; }
  .tc-searchMain .tc-searchContentInner .searchResultTitle {
    font-size: 14px;
    color: #555555;
    background: #F9FBFC;
    padding: 0.13333rem 0 0.16rem 0.53333rem; }
    [data-dpr="2"] .tc-searchMain .tc-searchContentInner .searchResultTitle {
      font-size: 28px; }
    [data-dpr="3"] .tc-searchMain .tc-searchContentInner .searchResultTitle {
      font-size: 42px; }
  .tc-searchMain .tc-searchContentInner .searchResultItem {
    font-size: 16px;
    color: #222222;
    display: block;
    padding: 0.32rem 0.53333rem;
    line-height: 0.42667rem; }
    [data-dpr="2"] .tc-searchMain .tc-searchContentInner .searchResultItem {
      font-size: 32px; }
    [data-dpr="3"] .tc-searchMain .tc-searchContentInner .searchResultItem {
      font-size: 48px; }
    .tc-searchMain .tc-searchContentInner .searchResultItem.selected {
      background-color: #F9FBFB; }
    .tc-searchMain .tc-searchContentInner .searchResultItem > em {
      color: #00BEAF;
      font-style: normal; }
  .tc-searchMain .tc-searchContentInner .tc-searchListBoxIllness {
    max-height: 100%; }
    .tc-searchMain .tc-searchContentInner .tc-searchListBoxIllness .tc-searchDocKeyWord {
      max-height: 100%; }
    .tc-searchMain .tc-searchContentInner .tc-searchListBoxIllness .tc-searchDocListItem {
      max-height: 100%; }
  .tc-searchMain .tc-searchCommFixedBottom {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 1.30667rem;
    background-color: #ffffff;
    border-top: 1px solid #DFDFDF;
    text-align: center;
    font-size: 13px; }
    [data-dpr="2"] .tc-searchMain .tc-searchCommFixedBottom {
      font-size: 26px; }
    [data-dpr="3"] .tc-searchMain .tc-searchCommFixedBottom {
      font-size: 39px; }
    .tc-searchMain .tc-searchCommFixedBottom .tc-searchNoResult {
      display: inline-block;
      color: #B3B9C4; }
    .tc-searchMain .tc-searchCommFixedBottom .tc-searchAddBtn {
      display: inline-block;
      color: #00BEAF;
      padding: 0.16rem 0.24rem;
      border-radius: 100px;
      border: 1px solid #00BEAF;
      margin: 0.32rem 0 0.32rem 0.16rem;
      vertical-align: middle; }
  .tc-searchMain .tc-searchCommNoResult {
    text-align: center;
    padding-top: 0.8rem; }
    .tc-searchMain .tc-searchCommNoResult .tc-searchNoResultText {
      display: inline-block;
      font-size: 15px;
      color: #909090;
      padding-top: 1.06667rem; }
      [data-dpr="2"] .tc-searchMain .tc-searchCommNoResult .tc-searchNoResultText {
        font-size: 30px; }
      [data-dpr="3"] .tc-searchMain .tc-searchCommNoResult .tc-searchNoResultText {
        font-size: 45px; }
  .tc-searchMain .tc-searchAddBySelf .tc-searchAddTextArea textarea {
    font-size: 16px;
    width: 8.90667rem;
    height: 2.66667rem;
    color: #555555;
    padding: 0.53333rem;
    background-color: #F9FBFB;
    border-style: none;
    line-height: 0.42667rem;
    box-shadow: inset 0px -3px 4px 0 #F4F8FD; }
    [data-dpr="2"] .tc-searchMain .tc-searchAddBySelf .tc-searchAddTextArea textarea {
      font-size: 32px; }
    [data-dpr="3"] .tc-searchMain .tc-searchAddBySelf .tc-searchAddTextArea textarea {
      font-size: 48px; }
  .tc-searchMain .tc-searchAddBySelf .tc-searchAddHosBtn {
    padding-top: 1.33333rem; }
    .tc-searchMain .tc-searchAddBySelf .tc-searchAddHosBtn span {
      font-size: 16px;
      color: #ffffff;
      display: block;
      width: 7.6rem;
      height: 0.96rem;
      line-height: 0.96rem;
      text-align: center;
      background-color: #00D6C6;
      border-radius: 100px;
      margin: 0 auto; }
      [data-dpr="2"] .tc-searchMain .tc-searchAddBySelf .tc-searchAddHosBtn span {
        font-size: 32px; }
      [data-dpr="3"] .tc-searchMain .tc-searchAddBySelf .tc-searchAddHosBtn span {
        font-size: 48px; }

.searchTypeSelect {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 3rem;
  padding: 0.13333rem 0 0.06667rem 0; }

.searchTypeSelectItem {
  display: block;
  font-size: 13px;
  color: #666;
  text-align: center;
  position: relative;
  background-color: #f4f4f4;
  padding-left: 0.13333rem;
  padding-right: 0.13333rem;
  border-right: 0.26667rem solid transparent;
  border-left: 2rem solid transparent;
  background-clip: padding-box; }
  [data-dpr="2"] .searchTypeSelectItem {
    font-size: 26px; }
  [data-dpr="3"] .searchTypeSelectItem {
    font-size: 39px; }
  .searchTypeSelectItem:before {
    content: attr(data-toolTips);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -1.86667rem;
    top: 55%;
    width: 1.38667rem;
    margin-top: -0.42667rem;
    height: 0.82667rem;
    line-height: 0.82667rem;
    background: transparent url("/images/img50/pages/discover/tips_bg.png") center center no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
    font-size: 20px;
    color: #3598db; }
    [data-dpr="2"] .searchTypeSelectItem:before {
      font-size: 40px; }
    [data-dpr="3"] .searchTypeSelectItem:before {
      font-size: 60px; }

.searchTypeSelectItem.selected {
  color: #3598db; }
  .searchTypeSelectItem.selected:before {
    visibility: visible;
    opacity: 1; }

/**
 * @name:
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/21
 * @author: qiangkailiang
 */
/**
 * @name:公用页头
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/20
 * @author: qiangkailiang
 */
.main-header {
  background-color: #fff;
  width: 100%;
  padding: 0.26667rem 0.4rem;
  border-bottom: 1px solid #d7dbde;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  display: none; }
  .main-header-item {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .main-header-item:nth-last-child(1) {
      text-align: right; }
    .main-header-item:nth-child(1) {
      text-align: left; }
    .main-header-item > a {
      font-size: 17px; }
      [data-dpr="2"] .main-header-item > a {
        font-size: 34px; }
      [data-dpr="3"] .main-header-item > a {
        font-size: 51px; }
      .main-header-item > a.main-header-item-pre {
        color: #333; }
      .main-header-item > a > img {
        width: 0.8rem;
        height: 0.8rem;
        vertical-align: top; }
    .main-header-item > h3 {
      font-size: 17px;
      font-weight: normal;
      color: #222; }
      [data-dpr="2"] .main-header-item > h3 {
        font-size: 34px; }
      [data-dpr="3"] .main-header-item > h3 {
        font-size: 51px; }

/**
 * @name:患者咨询进度条
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/21
 * @author: qiangkailiang
 */
.patient-consult-rate {
  padding: 0 0.64rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.45333rem;
  position: relative;
  box-sizing: border-box; }
  .patient-consult-rate:after {
    content: '';
    height: 0.01333rem;
    background-color: #f0f0f0;
    position: absolute;
    left: 0.8rem;
    right: 0.8rem;
    top: 50%;
    margin-top: -0.00667rem;
    z-index: 1; }
  .patient-consult-rate-item {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #e5e5e5;
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
    border-left: 0.26667rem solid #fff;
    border-right: 0.26667rem solid #fff; }
    [data-dpr="2"] .patient-consult-rate-item {
      font-size: 24px; }
    [data-dpr="3"] .patient-consult-rate-item {
      font-size: 36px; }
    .patient-consult-rate-item.complete {
      background: url("/image/img00/patientConsult/inquiry_progress_complete@1x.svg") no-repeat; }
      .patient-consult-rate-item.complete span {
        display: none; }
    .patient-consult-rate-item:before {
      content: '为谁咨询';
      position: absolute;
      font-size: 13px;
      color: #ccc;
      display: block;
      bottom: 0;
      width: 2rem;
      text-align: center;
      left: 50%;
      margin-left: -1rem;
      margin-bottom: -0.53333rem; }
      [data-dpr="2"] .patient-consult-rate-item:before {
        font-size: 26px; }
      [data-dpr="3"] .patient-consult-rate-item:before {
        font-size: 39px; }
    .patient-consult-rate-item:nth-child(2):before {
      content: '选择部位'; }
    .patient-consult-rate-item:nth-child(3):before {
      content: '描述症状'; }
    .patient-consult-rate-item.on {
      background-color: #00d6c6; }
      .patient-consult-rate-item.on:before {
        color: #00beaf; }

/**
 * @Desc：
 * @Usage:
 * @Notify：
 * @Depend：
 *
 * Created by qiangkailiang on 2017/2/23
 */
.symptom-desc-title {
  color: #222;
  font-size: 17px;
  padding-left: 0.64rem;
  margin: 0.53333rem 0; }
  [data-dpr="2"] .symptom-desc-title {
    font-size: 34px; }
  [data-dpr="3"] .symptom-desc-title {
    font-size: 51px; }
  .symptom-desc-title > h4 {
    font-weight: normal; }
  .symptom-desc-title .num {
    padding-right: 0.10667rem; }
    .symptom-desc-title .num em {
      color: #00bedf;
      font-style: normal; }
  .symptom-desc-title .tips {
    color: #7f858e;
    font-size: 15px; }
    [data-dpr="2"] .symptom-desc-title .tips {
      font-size: 30px; }
    [data-dpr="3"] .symptom-desc-title .tips {
      font-size: 45px; }

.symptom-desc-item {
  margin: 0.53333rem 0;
  box-sizing: border-box; }
  .symptom-desc-item .icon-select {
    margin-right: 0.32rem; }
  .symptom-desc-item.selected.multiple-choices > p .icon-select {
    background: url("/image/img00/patientConsult/symptom_square_sel@1x.svg") no-repeat; }
  .symptom-desc-item.selected.multiple-choices > p .icon-arrow {
    display: block; }
  .symptom-desc-item.selected.single-choices > p .icon-select {
    background: url("/image/img00/patientConsult/symptom_circle_sel@1x.svg") no-repeat; }
  .symptom-desc-item.selected.single-choices > p .icon-arrow {
    display: block; }
  .symptom-desc-item.selected .symptom-desc-second-form {
    display: block; }
  .symptom-desc-item > p {
    color: #555;
    padding-left: 1.12rem;
    font-size: 15px; }
    [data-dpr="2"] .symptom-desc-item > p {
      font-size: 30px; }
    [data-dpr="3"] .symptom-desc-item > p {
      font-size: 45px; }
    .symptom-desc-item > p:after {
      content: '';
      display: table;
      clear: both; }
    .symptom-desc-item > p .icon-arrow {
      float: right;
      background: url("/image/img00/patientConsult/symptom_pack_up@1x.svg") no-repeat;
      width: 0.37333rem;
      height: 0.37333rem;
      display: none; }
    .symptom-desc-item > p > span {
      vertical-align: text-top;
      display: inline-block;
      width: 81%;
      word-break: break-all; }
  .symptom-desc-item.selected > p {
    color: #63C7BF; }

.multiple-choices .icon-select {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 0.05333rem;
  vertical-align: text-bottom; }

.single-choices .icon-select {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #ffffff;
  background-color: #fff;
  border: 1px solid #cccccc;
  vertical-align: middle; }

.symptom-desc-controller {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.33333rem;
  margin-top: -1.53333rem;
  box-sizing: border-box; }
  .symptom-desc-controller > a {
    display: inline-block;
    vertical-align: middle;
    width: 3.2rem; }
    .symptom-desc-controller > a.unfinish {
      background: #DFDFDF; }

.symptom-desc-second-form {
  overflow: hidden;
  padding-left: 0.4rem;
  box-sizing: border-box;
  background: #F9FBFB;
  box-shadow: 0 0.04rem 0.05333rem 0 #F4F8FD;
  display: none; }
  .symptom-desc-second-form:nth-child(2) {
    margin-top: 0.53333rem; }
  .symptom-desc-second-form .symptom-desc-title {
    font-size: 13px;
    color: #B3B9C4; }
    [data-dpr="2"] .symptom-desc-second-form .symptom-desc-title {
      font-size: 26px; }
    [data-dpr="3"] .symptom-desc-second-form .symptom-desc-title {
      font-size: 39px; }
  .symptom-desc-second-form .symptom-desc-item p > span {
    color: #777;
    padding-right: 0.69333rem; }

.icon-pain-detail:after {
  content: '';
  display: inline-block;
  width: 0.37333rem;
  height: 0.37333rem;
  background: url("/image/img00/patientConsult/symptom_prompt@1x.svg") no-repeat;
  vertical-align: middle;
  margin-left: 0.25333rem; }

.icon-pain-detail > em {
  font-style: normal;
  vertical-align: middle; }

.symptom-detail-desc {
  position: absolute;
  width: 7.2rem;
  left: 50%;
  margin-left: -3.6rem;
  background: #FFFFFF;
  border-radius: 0.16rem;
  padding: 0.8rem 0.66667rem;
  box-shadow: 0 0.02667rem 0.13333rem 0 rgba(0, 190, 175, 0.25);
  box-sizing: border-box;
  display: none; }
  .symptom-detail-desc > figure {
    width: 100%; }
    .symptom-detail-desc > figure img {
      width: 100%;
      vertical-align: top; }
  .symptom-detail-desc > figcaption {
    margin-top: 0.8rem;
    font-size: 15px;
    color: #555; }
    [data-dpr="2"] .symptom-detail-desc > figcaption {
      font-size: 30px; }
    [data-dpr="3"] .symptom-detail-desc > figcaption {
      font-size: 45px; }

.symptom-desc-others-content {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  margin-left: -0.4rem; }

html, body {
  width: 100%;
  height: 100%; }

.sticky-wrapper {
  height: auto;
  min-height: 100%; }

.main-inner {
  padding-bottom: 1.53333rem; }

.symptom-desc-inner {
  margin-top: 1.33333rem;
  display: none; }
  .symptom-desc-inner.active {
    display: block; }

.alertBox-content {
  text-align: center; }

.has-others {
  background: none;
  color: #909090; }

.btn-primary.no-others {
  width: 3.73333rem;
  margin-left: auto;
  margin-right: auto; }

.symptom-desc-controller {
  display: none; }
  .symptom-desc-controller.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.main-inner .main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main-inner .tc-baseInfo {
  background-color: #ffffff;
  width: 100%; }
  .main-inner .tc-baseInfo .tc-baseInfoList {
    padding: 0.53333rem 0 0.6rem; }
    .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem {
      margin-bottom: 0.50667rem;
      font-size: 14px; }
      [data-dpr="2"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem {
        font-size: 28px; }
      [data-dpr="3"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem {
        font-size: 42px; }
      .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem:after {
        content: '';
        display: table;
        clear: both; }
      .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemLeft {
        font-size: 15px;
        width: 3.2rem;
        padding: 0 0.64rem;
        float: left;
        box-sizing: border-box;
        color: #909090; }
        [data-dpr="2"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemLeft {
          font-size: 30px; }
        [data-dpr="3"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemLeft {
          font-size: 45px; }
        .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemLeft img {
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          margin: 0 auto; }
        .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemLeft.tc-caseAreaLeft {
          padding-right: 0;
          width: 3.94667rem; }
        .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemLeft.tc-caseTimeLeft {
          padding-right: 0;
          width: 3.94667rem; }
      .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-caseAreaRight {
        display: inline-block;
        font-size: 16px;
        color: #555555;
        width: 6.05333rem; }
        [data-dpr="2"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-caseAreaRight {
          font-size: 32px; }
        [data-dpr="3"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-caseAreaRight {
          font-size: 48px; }
      .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-caseTimeRight {
        display: inline-block;
        font-size: 16px;
        color: #555555;
        width: 6.05333rem; }
        [data-dpr="2"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-caseTimeRight {
          font-size: 32px; }
        [data-dpr="3"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-caseTimeRight {
          font-size: 48px; }
      .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight {
        width: 6.8rem;
        float: left;
        position: relative;
        color: #555555;
        box-sizing: border-box;
        padding-right: 0.46667rem;
        font-size: 16px; }
        [data-dpr="2"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight {
          font-size: 32px; }
        [data-dpr="3"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight {
          font-size: 48px; }
        .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-baseInfoName {
          font-size: 17px;
          display: block;
          margin-top: 0.58667rem; }
          [data-dpr="2"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-baseInfoName {
            font-size: 34px; }
          [data-dpr="3"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-baseInfoName {
            font-size: 51px; }
        .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-baseInfoDate {
          display: block;
          font-size: 13px;
          line-height: 0.34667rem;
          color: #909090;
          margin-top: 0.21333rem; }
          [data-dpr="2"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-baseInfoDate {
            font-size: 26px; }
          [data-dpr="3"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-baseInfoDate {
            font-size: 39px; }
        .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-goCase {
          font-size: 14px;
          position: absolute;
          right: 0.93333rem;
          top: 0.61333rem;
          color: #78849C;
          line-height: 0.37333rem; }
          [data-dpr="2"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-goCase {
            font-size: 28px; }
          [data-dpr="3"] .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-goCase {
            font-size: 42px; }
          .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-baseInfoItemRight .tc-goCase::after {
            display: inline-block;
            content: "";
            width: 0.16rem;
            height: 0.26667rem;
            position: absolute;
            top: 50%;
            margin-top: -0.18667rem;
            right: -0.36rem;
            background: url("/image/img00/patientConsult/arrow_right.png") no-repeat center;
            background-size: 100% 100%; }
      .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem .tc-recommendUserMain {
        line-height: 0.64rem; }
    .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem:first-child {
      margin-bottom: 0.70667rem; }
    .main-inner .tc-baseInfo .tc-baseInfoList .tc-baseInfoItem:last-child {
      margin-bottom: 0; }

.main-inner .tc-caseContentBox {
  background-color: #F3F6F7; }
  .main-inner .tc-caseContentBox .tc-baseInfo {
    margin-bottom: 0.18667rem; }
  .main-inner .tc-caseContentBox .tc-module {
    margin: 0.18667rem 0;
    padding: 0 0.53333rem;
    background-color: #ffffff; }
    .main-inner .tc-caseContentBox .tc-module .title {
      padding-top: 0.66667rem; }
      .main-inner .tc-caseContentBox .tc-module .title h3 {
        position: relative;
        font-weight: 100;
        color: #555555;
        font-size: 16px; }
        [data-dpr="2"] .main-inner .tc-caseContentBox .tc-module .title h3 {
          font-size: 32px; }
        [data-dpr="3"] .main-inner .tc-caseContentBox .tc-module .title h3 {
          font-size: 48px; }
        .main-inner .tc-caseContentBox .tc-module .title h3:after {
          position: absolute;
          content: '';
          width: 0.05333rem;
          height: 0.32rem;
          left: -0.10667rem;
          top: 50%;
          margin-top: -0.16rem;
          background-color: #4CD3C6; }
    .main-inner .tc-caseContentBox .tc-module .tc-recommendRightComm {
      font-size: 14px;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 2.66667rem;
      text-align: right;
      color: #9798A6;
      padding-right: 0.32rem; }
      [data-dpr="2"] .main-inner .tc-caseContentBox .tc-module .tc-recommendRightComm {
        font-size: 28px; }
      [data-dpr="3"] .main-inner .tc-caseContentBox .tc-module .tc-recommendRightComm {
        font-size: 42px; }
      .main-inner .tc-caseContentBox .tc-module .tc-recommendRightComm:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        margin-top: -0.16rem;
        display: inline-block;
        width: 0.16rem;
        height: 0.26667rem;
        background: url("/image/img00/patientConsult/suggestion_enter@2x.png");
        background-size: 100% 100%;
        vertical-align: middle; }
    .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList {
      padding-top: 0.13333rem;
      padding-bottom: 0.58667rem; }
      .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem {
        padding: 0.50667rem 0; }
        .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem .tc-caseDescribeItemLeft {
          display: inline-block;
          width: 2.50667rem;
          font-size: 15px;
          color: #909090;
          padding-right: 0.90667rem; }
          [data-dpr="2"] .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem .tc-caseDescribeItemLeft {
            font-size: 30px; }
          [data-dpr="3"] .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem .tc-caseDescribeItemLeft {
            font-size: 45px; }
        .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem .tc-caseDescribeItemRight {
          position: relative;
          display: inline-block;
          font-size: 16px;
          width: 5.49333rem;
          color: #555;
          vertical-align: top;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          [data-dpr="2"] .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem .tc-caseDescribeItemRight {
            font-size: 32px; }
          [data-dpr="3"] .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem .tc-caseDescribeItemRight {
            font-size: 48px; }
          .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem .tc-caseDescribeItemRight:after {
            display: inline-block;
            position: absolute;
            content: '';
            width: 0.26667rem;
            height: 0.26667rem;
            background: url("/image/img00/recoveryReport/suggestion_enter@2x.png");
            background-size: 100% 100%;
            right: 0;
            top: 50%;
            margin-top: -0.10667rem; }
        .main-inner .tc-caseContentBox .tc-module .tc-caseDescribeList .tc-caseDescribeItem .tc-noRevice:after {
          display: inline-block;
          position: absolute;
          content: '';
          width: 0.10667rem;
          height: 0.21333rem;
          background: url("");
          background-size: 100% 100%;
          right: 0;
          top: 50%;
          margin-top: -0.10667rem; }
    .main-inner .tc-caseContentBox .tc-module .tc-caseOtherBox {
      text-align: center;
      padding: 0.53333rem;
      margin-top: 0.8rem;
      background-color: #F9FBFB;
      border-radius: 8px; }
      .main-inner .tc-caseContentBox .tc-module .tc-caseOtherBox .tc-caseDesOther {
        width: 7.89333rem;
        border-style: none;
        background-color: #F9FBFB; }
  .main-inner .tc-caseContentBox .tc-comment {
    padding-bottom: 0.8rem; }
  .main-inner .tc-caseContentBox .submit_symptom_box {
    padding: 0.8rem 0; }
    .main-inner .tc-caseContentBox .submit_symptom_box .submit_symptom {
      display: block;
      width: 7.6rem;
      line-height: 0.96rem;
      text-align: center;
      color: #FFF;
      background: #00d6c6;
      margin: 0 auto;
      border-radius: 100px;
      font-size: 16px; }
      [data-dpr="2"] .main-inner .tc-caseContentBox .submit_symptom_box .submit_symptom {
        font-size: 32px; }
      [data-dpr="3"] .main-inner .tc-caseContentBox .submit_symptom_box .submit_symptom {
        font-size: 48px; }

.au-main {
  min-height: 100%;
  height: auto;
  box-sizing: border-box;
  padding-bottom: 2.45333rem; }
  .au-main .au-infoBox .au-cureHisList {
    padding-top: 0.69333rem; }
    .au-main .au-infoBox .au-cureHisList li + li {
      margin-top: 0.96rem; }
    .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemTop {
      color: #222222;
      font-size: 16px;
      line-height: 1;
      padding: 0 0.64rem; }
      [data-dpr="2"] .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemTop {
        font-size: 32px; }
      [data-dpr="3"] .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemTop {
        font-size: 48px; }
    .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemBottom {
      padding: 0 0.64rem;
      font-size: 0; }
      .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemBottom:after {
        content: '';
        display: table;
        clear: both; }
      .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemBottom span {
        border: 0.01333rem solid #BDBDBD;
        border-radius: 100px;
        display: table;
        float: left;
        margin-right: 0.24rem;
        margin-top: 0.42667rem;
        font-size: 14px;
        color: #808080;
        padding: 0.13333rem 0.29333rem;
        line-height: 1; }
        [data-dpr="2"] .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemBottom span {
          font-size: 28px; }
        [data-dpr="3"] .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemBottom span {
          font-size: 42px; }
        .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemBottom span.selected {
          color: #5BD7CF;
          border: 0.01333rem solid #5BD7CF;
          background: #E4FDFC; }
    .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemInfo {
      display: none;
      width: 100%;
      height: 3.78667rem;
      box-sizing: border-box;
      margin-top: 0.61333rem;
      background-color: #F9FBFB;
      padding: 0.53333rem 0.64rem; }
      .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemInfo textarea {
        width: 100%;
        height: 100%;
        border: none;
        text-align: justify;
        font-size: 15px;
        color: #222;
        line-height: 1.5;
        background-color: #F9FBFB; }
        [data-dpr="2"] .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemInfo textarea {
          font-size: 30px; }
        [data-dpr="3"] .au-main .au-infoBox .au-cureHisList .au-cureHisItem .au-cureHisItemInfo textarea {
          font-size: 45px; }
  .au-main .au-infoBox .au-perfectInfoList {
    padding-top: 0.69333rem; }
    .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem {
      padding: 0 0.64rem;
      display: table;
      height: 1.6rem;
      font-size: 15px; }
      [data-dpr="2"] .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem {
        font-size: 30px; }
      [data-dpr="3"] .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem {
        font-size: 45px; }
      .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemLeft {
        display: table-cell;
        width: 3.30667rem;
        color: #222;
        vertical-align: top; }
      .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemRight {
        display: table-cell;
        width: 5.4rem;
        color: #CCCCCC;
        position: relative; }
        .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemRight .fontGray {
          color: #ccc; }
        .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemRight .ev-change-city {
          color: #222; }
          .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemRight .ev-change-city:after {
            display: inline-block;
            position: absolute;
            content: '';
            width: 0.26667rem;
            height: 0.26667rem;
            background: url(/image/img00/recoveryReport/suggestion_enter@2x.png);
            background-size: 100% 100%;
            right: 0;
            top: 10%; }
        .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemRight.hasSelect span.show {
          position: absolute;
          z-index: 1; }
          .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemRight.hasSelect span.show.selected {
            color: #555555; }
        .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemRight.hasSelect select {
          position: absolute;
          z-index: 2;
          opacity: 0;
          display: block;
          height: 50%;
          width: 100%; }
      .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemBottom {
        margin-top: 0.50667rem;
        margin-bottom: 0.66667rem;
        background-color: #F9FBFB;
        width: 8.72rem;
        height: 3.68rem;
        box-sizing: border-box;
        padding: 0.53333rem; }
        .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem .au-perfectInfoItemBottom textarea {
          display: block;
          height: 100%;
          background-color: #F9FBFB; }
      .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem input, .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem textarea, .au-main .au-infoBox .au-perfectInfoList .au-perfectInfoItem span {
        border: none;
        display: block;
        width: 100%; }

.symptom-desc-title {
  color: #222;
  font-size: 17px;
  padding: 0 0.64rem; }
  [data-dpr="2"] .symptom-desc-title {
    font-size: 34px; }
  [data-dpr="3"] .symptom-desc-title {
    font-size: 51px; }
  .symptom-desc-title > h4 {
    font-weight: normal; }
  .symptom-desc-title .num {
    padding-right: 0.10667rem; }
    .symptom-desc-title .num em {
      color: #00bedf;
      font-style: normal; }
  .symptom-desc-title .tips {
    color: #7f858e;
    font-size: 15px; }
    [data-dpr="2"] .symptom-desc-title .tips {
      font-size: 30px; }
    [data-dpr="3"] .symptom-desc-title .tips {
      font-size: 45px; }

.symptom-desc-item.multiple-choices {
  margin: 0.53333rem 0;
  box-sizing: border-box; }

.symptom-desc-item.single-choices {
  margin: 0.53333rem 0;
  box-sizing: border-box; }

.symptom-desc-item .icon-select {
  margin-right: 0.32rem; }

.symptom-desc-item.selected.multiple-choices > p .icon-select {
  background: url("/image/img00/patientConsult/symptom_square_sel@1x.svg") no-repeat center;
  background-size: contain; }

.symptom-desc-item.selected.multiple-choices > p .icon-arrow {
  display: block; }

.symptom-desc-item.selected.single-choices > p .icon-select {
  background: url("/image/img00/patientConsult/symptom_circle_sel@1x.svg") no-repeat center;
  background-size: contain; }

.symptom-desc-item.selected.single-choices > p .icon-arrow {
  display: block; }

.symptom-desc-item.selected .symptom-desc-second-form {
  display: block; }

.symptom-desc-item > p {
  color: #555;
  padding-left: 1.12rem;
  font-size: 15px; }
  [data-dpr="2"] .symptom-desc-item > p {
    font-size: 30px; }
  [data-dpr="3"] .symptom-desc-item > p {
    font-size: 45px; }
  .symptom-desc-item > p:after {
    content: '';
    display: table;
    clear: both; }
  .symptom-desc-item > p .icon-arrow {
    float: right;
    background: url("/image/img00/patientConsult/symptom_pack_up@1x.svg") no-repeat;
    width: 0.37333rem;
    height: 0.37333rem;
    display: none; }
  .symptom-desc-item > p > span {
    vertical-align: text-top;
    display: inline-block;
    width: 81%;
    word-break: break-all; }

.symptom-desc-item.selected > p {
  color: #63C7BF; }

#ev-choiceList {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-top: 0;
  background: #fff; }

section.symptom-list {
  padding-bottom: 0; }

.symptom-desc-controller .disabled {
  background: #ccc; }
