@charset "UTF-8";
html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer {
  font-family: "Microsoft YaHei", Arial, Tahoma, "Hiragino Sans GB W3";
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

div {
  -webkit-tap-highlight-color: transparent; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; }

button, input {
  outline: medium; }

ul, ol {
  list-style: none; }

i {
  font-style: normal; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, monospace; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

form {
  margin: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal;
  padding: 0;
  margin: 0; }

button {
  background: none;
  box-shadow: none;
  border: none; }

button,
select {
  text-transform: none; }

button {
  font-family: "microsoft yahei"; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

mark {
  background: #ff0;
  color: #666666; }

figure {
  margin: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button {
  border: none;
  background: none; }

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-height: 100%; }

/**
 * @Desc：
 * @Usage:
 * @Notify：
 * @Depend：
 *
 * Created by qiangkailiang on 2017/2/22
 */
.maskers {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0; }
  .maskers.show {
    opacity: 1; }

.alertBox-inner {
  background-color: #fff;
  position: absolute;
  border-radius: 0.32rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.alertBox-content {
  min-width: 5.86667rem;
  padding: 0.66667rem;
  font-size: 17px;
  line-height: 1.5;
  border-bottom: 1px solid #dfdfdf;
  color: #222; }
  [data-dpr="2"] .alertBox-content {
    font-size: 34px; }
  [data-dpr="3"] .alertBox-content {
    font-size: 51px; }

.alertBox-btns {
  font-size: 17px;
  padding: 0.22667rem 0;
  text-align: center; }
  [data-dpr="2"] .alertBox-btns {
    font-size: 34px; }
  [data-dpr="3"] .alertBox-btns {
    font-size: 51px; }
  .alertBox-btns .alertBox-ensureBtn {
    color: #00BEAF; }

.confirmBox-inner {
  background-color: #fff;
  position: absolute;
  border-radius: 0.32rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.confirmBox-content {
  min-width: 5.86667rem;
  padding: 0.66667rem;
  font-size: 17px;
  line-height: 1.5;
  border-bottom: 1px solid #dfdfdf;
  color: #222; }
  [data-dpr="2"] .confirmBox-content {
    font-size: 34px; }
  [data-dpr="3"] .confirmBox-content {
    font-size: 51px; }
  .confirmBox-content h2 {
    font-weight: normal;
    text-align: center;
    font-size: 17px;
    color: #222; }
    [data-dpr="2"] .confirmBox-content h2 {
      font-size: 34px; }
    [data-dpr="3"] .confirmBox-content h2 {
      font-size: 51px; }
  .confirmBox-content p {
    text-align: center;
    margin-top: 0.06667rem;
    font-size: 13px; }
    [data-dpr="2"] .confirmBox-content p {
      font-size: 26px; }
    [data-dpr="3"] .confirmBox-content p {
      font-size: 39px; }

.confirmBox-btns {
  font-size: 17px;
  text-align: center; }
  [data-dpr="2"] .confirmBox-btns {
    font-size: 34px; }
  [data-dpr="3"] .confirmBox-btns {
    font-size: 51px; }
  .confirmBox-btns button {
    color: #00BEAF;
    width: 50%;
    padding: 0.22667rem 0; }
  .confirmBox-btns .confirmBox-cancelBtn {
    border-right: 0.01333rem solid #dfdfdf; }
  .confirmBox-btns .confirmBox-ensureBtn {
    font-weight: bold; }

.vertical-box {
  background: #FFFFFF;
  box-shadow: 0 0.02667rem 0.13333rem 0 rgba(0, 0, 0, 0.07);
  border-radius: 0.16rem;
  min-width: 7.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.64rem 1.09333rem;
  box-sizing: border-box; }
  .vertical-box h2 {
    font-weight: normal;
    font-size: 17px;
    text-align: center; }
    [data-dpr="2"] .vertical-box h2 {
      font-size: 34px; }
    [data-dpr="3"] .vertical-box h2 {
      font-size: 51px; }
  .vertical-box > a {
    display: inline-block;
    width: 2.29333rem;
    margin-top: 0.69333rem; }
    .vertical-box > a:nth-child(2n+1) {
      margin-left: 0.34667rem; }

.horizontal-box {
  background: #FFFFFF;
  box-shadow: 0 0.02667rem 0.13333rem 0 rgba(0, 0, 0, 0.07);
  border-radius: 0.16rem;
  min-width: 7.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.64rem 1.09333rem;
  box-sizing: border-box; }
  .horizontal-box h2 {
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    margin-bottom: 1.06667rem; }
    [data-dpr="2"] .horizontal-box h2 {
      font-size: 34px; }
    [data-dpr="3"] .horizontal-box h2 {
      font-size: 51px; }
  .horizontal-box > a, .horizontal-box button {
    display: block;
    width: 100%;
    margin: 0.69333rem 0; }

/**
 * @Desc：
 * @Usage:
 * @Notify：
 * @Depend：
 *
 * Created by qiangkailiang on 2017/2/23
 */
.btn-primary {
  border-radius: 9999px;
  background-color: #00d6c6;
  text-align: center;
  padding: 0.2rem 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  outline: medium; }
  [data-dpr="2"] .btn-primary {
    font-size: 32px; }
  [data-dpr="3"] .btn-primary {
    font-size: 48px; }

.btn-hollow {
  border-radius: 9999px;
  background-color: #fff;
  text-align: center;
  padding: 0.2rem 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #00beaf;
  border: 1px solid #00D6C6;
  outline: medium; }
  [data-dpr="2"] .btn-hollow {
    font-size: 32px; }
  [data-dpr="3"] .btn-hollow {
    font-size: 48px; }

/**
 * @Desc：
 * @Usage:
 * @Notify：
 * @Depend：
 *
 * Created by qiangkailiang on 2017/2/27
 */
.middle-tip-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3; }

.middle-tip-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }
  .middle-tip-modal .middle-tip-box-text > img {
    width: 0.53333rem;
    height: 0.53333rem;
    border-radius: 50%;
    background-color: transparent;
    -webkit-animation: rotate 1s linear forwards infinite;
            animation: rotate 1s linear forwards infinite; }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.popup-tips {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.16rem;
  font-size: 15px;
  color: #fff;
  padding: 0.4rem 0.4rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
  -webkit-transform: scale(0) translate(-50%, -50%);
      -ms-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0; }
  [data-dpr="2"] .popup-tips {
    font-size: 30px; }
  [data-dpr="3"] .popup-tips {
    font-size: 45px; }
  .popup-tips.show {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
        -ms-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%); }

button, input, textarea {
  outline: medium;
  font-family: "microsoft yahei";
  resize: none; }

.main-inner-content {
  height: 100%;
  border: 1px solid transparent; }

/**
 * @Desc：直约手术状态条
 * @Usage:
 * @Notify：
 * @Depend：
 *
 * Created by lichenyang on 2017/2/28
 */
.statusBar {
  font-size: 0px;
  text-align: center;
  padding-top: 0.42667rem; }
  .statusBar dl {
    position: relative;
    display: inline-block;
    line-height: 1; }
    .statusBar dl:nth-child(1) {
      color: #00BEAF; }
      .statusBar dl:nth-child(1) dt {
        background: url("/image/img00/directOperation/status_one.png") no-repeat center;
        background-size: contain; }
    .statusBar dl:nth-child(2) {
      color: #E5E5E5; }
      .statusBar dl:nth-child(2) dt {
        background: url("/image/img00/directOperation/status_two.png") no-repeat center;
        background-size: contain; }
    .statusBar dl dt {
      height: 0.34667rem; }
    .statusBar dl dd {
      padding-top: 0.16rem;
      font-size: 12px;
      line-height: 1; }
      [data-dpr="2"] .statusBar dl dd {
        font-size: 24px; }
      [data-dpr="3"] .statusBar dl dd {
        font-size: 36px; }
  .statusBar dl:not(.statusBarOne) {
    margin-left: 2.36rem; }
    .statusBar dl:not(.statusBarOne)::before {
      display: inline-block;
      content: '';
      width: 2.98667rem;
      height: 0.01333rem;
      border-top: 0.01333rem solid #8A8A8C;
      position: absolute;
      left: -2.66667rem;
      top: 0.17333rem; }
  .statusBar dl.finish {
    color: #00BEAF; }
    .statusBar dl.finish dt {
      background: url("/image/img00/directOperation/status_finish.png") no-repeat center;
      background-size: contain; }
  .statusBar .statusBarTwo.current {
    color: #00BEAF; }
    .statusBar .statusBarTwo.current dt {
      background: url("/image/img00/directOperation/status_two_current.png") no-repeat center;
      background-size: contain; }
  .statusBar dl.finish + dl::before {
    border-top: 0.01333rem solid #a9e9e4; }

/**
 * @name:头部搜索选择公共样式
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/24
 * @Dev: JuKun
 */
/**
 * @name:公用页头
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/20
 * @author: qiangkailiang
 */
.main-header {
  background-color: #fff;
  width: 100%;
  padding: 0.26667rem 0.4rem;
  border-bottom: 1px solid #d7dbde;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  display: none; }
  .main-header-item {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .main-header-item:nth-last-child(1) {
      text-align: right; }
    .main-header-item:nth-child(1) {
      text-align: left; }
    .main-header-item > a {
      font-size: 17px; }
      [data-dpr="2"] .main-header-item > a {
        font-size: 34px; }
      [data-dpr="3"] .main-header-item > a {
        font-size: 51px; }
      .main-header-item > a.main-header-item-pre {
        color: #333; }
      .main-header-item > a > img {
        width: 0.8rem;
        height: 0.8rem;
        vertical-align: top; }
    .main-header-item > h3 {
      font-size: 17px;
      font-weight: normal;
      color: #222; }
      [data-dpr="2"] .main-header-item > h3 {
        font-size: 34px; }
      [data-dpr="3"] .main-header-item > h3 {
        font-size: 51px; }

.tc-mainInner .tc-searchCommFixedTop {
  position: fixed;
  width: 100%; }

.tc-mainInner .tc-searchCommTop {
  padding: 0.26667rem;
  background-color: #F3F6F7;
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .tc-mainInner .tc-searchCommTop .tc-searchCommInput {
    box-sizing: border-box;
    font-size: 15px;
    color: #555555;
    width: 100%;
    height: 0.77333rem;
    padding-left: 0.8rem;
    margin: 0 auto;
    outline: none;
    border-style: none;
    border-radius: 0.10667rem; }
    [data-dpr="2"] .tc-mainInner .tc-searchCommTop .tc-searchCommInput {
      font-size: 30px; }
    [data-dpr="3"] .tc-mainInner .tc-searchCommTop .tc-searchCommInput {
      font-size: 45px; }
  .tc-mainInner .tc-searchCommTop .tc-searchBtnPic {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("/image/img00/patientConsult/inquire_search@2x.png");
    background-size: 100% 100%;
    position: absolute;
    left: 0.53333rem;
    top: 50%;
    margin-top: -0.2rem; }

/**
* @Desc：
* @Usage:
* @Notify：
* @Depend：
*
* Created by jukun on 2017/3/2
*/
.search-box {
  overflow: hidden;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-color: #fff; }
  .search-box.show {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

.tc-searchMain {
  margin-top: 1.3rem;
  height: 100%;
  overflow: auto; }
  .tc-searchMain .main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0; }
    .tc-searchMain .main-header .tc-searchBackBtn {
      font-size: 16px;
      line-height: 0.8rem;
      color: #000; }
      [data-dpr="2"] .tc-searchMain .main-header .tc-searchBackBtn {
        font-size: 32px; }
      [data-dpr="3"] .tc-searchMain .main-header .tc-searchBackBtn {
        font-size: 48px; }
  .tc-searchMain .tc-searchContentInner .tc-searchDocArea {
    padding: 0.16rem 0.53333rem;
    box-sizing: border-box;
    border-bottom: 1px solid #DFDFDF;
    width: 100%;
    background: #FFF; }
    .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchDocAreaLeft {
      display: inline-block;
      width: 0.13333rem;
      height: 0.24rem;
      background: url("/image/img00/patientConsult/searchAreaLeft.png");
      background-size: 100% 100%; }
    .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchAreaName {
      font-size: 13px;
      color: #909090;
      padding-left: 0.13333rem; }
      [data-dpr="2"] .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchAreaName {
        font-size: 26px; }
      [data-dpr="3"] .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchAreaName {
        font-size: 39px; }
      .tc-searchMain .tc-searchContentInner .tc-searchDocArea .tc-searchAreaName.tc-selectIllnessName {
        padding-left: 0; }
  .tc-searchMain .tc-searchContentInner .searchResultTitle {
    font-size: 14px;
    color: #555555;
    background: #F9FBFC;
    padding: 0.13333rem 0 0.16rem 0.53333rem; }
    [data-dpr="2"] .tc-searchMain .tc-searchContentInner .searchResultTitle {
      font-size: 28px; }
    [data-dpr="3"] .tc-searchMain .tc-searchContentInner .searchResultTitle {
      font-size: 42px; }
  .tc-searchMain .tc-searchContentInner .searchResultItem {
    font-size: 16px;
    color: #222222;
    display: block;
    padding: 0.32rem 0.53333rem;
    line-height: 0.42667rem; }
    [data-dpr="2"] .tc-searchMain .tc-searchContentInner .searchResultItem {
      font-size: 32px; }
    [data-dpr="3"] .tc-searchMain .tc-searchContentInner .searchResultItem {
      font-size: 48px; }
    .tc-searchMain .tc-searchContentInner .searchResultItem.selected {
      background-color: #F9FBFB; }
    .tc-searchMain .tc-searchContentInner .searchResultItem > em {
      color: #00BEAF;
      font-style: normal; }
  .tc-searchMain .tc-searchContentInner .tc-searchListBoxIllness {
    max-height: 100%; }
    .tc-searchMain .tc-searchContentInner .tc-searchListBoxIllness .tc-searchDocKeyWord {
      max-height: 100%; }
    .tc-searchMain .tc-searchContentInner .tc-searchListBoxIllness .tc-searchDocListItem {
      max-height: 100%; }
  .tc-searchMain .tc-searchCommFixedBottom {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 1.30667rem;
    background-color: #ffffff;
    border-top: 1px solid #DFDFDF;
    text-align: center;
    font-size: 13px; }
    [data-dpr="2"] .tc-searchMain .tc-searchCommFixedBottom {
      font-size: 26px; }
    [data-dpr="3"] .tc-searchMain .tc-searchCommFixedBottom {
      font-size: 39px; }
    .tc-searchMain .tc-searchCommFixedBottom .tc-searchNoResult {
      display: inline-block;
      color: #B3B9C4; }
    .tc-searchMain .tc-searchCommFixedBottom .tc-searchAddBtn {
      display: inline-block;
      color: #00BEAF;
      padding: 0.16rem 0.24rem;
      border-radius: 100px;
      border: 1px solid #00BEAF;
      margin: 0.32rem 0 0.32rem 0.16rem;
      vertical-align: middle; }
  .tc-searchMain .tc-searchCommNoResult {
    text-align: center;
    padding-top: 0.8rem; }
    .tc-searchMain .tc-searchCommNoResult .tc-searchNoResultText {
      display: inline-block;
      font-size: 15px;
      color: #909090;
      padding-top: 1.06667rem; }
      [data-dpr="2"] .tc-searchMain .tc-searchCommNoResult .tc-searchNoResultText {
        font-size: 30px; }
      [data-dpr="3"] .tc-searchMain .tc-searchCommNoResult .tc-searchNoResultText {
        font-size: 45px; }
  .tc-searchMain .tc-searchAddBySelf .tc-searchAddTextArea textarea {
    font-size: 16px;
    width: 8.90667rem;
    height: 2.66667rem;
    color: #555555;
    padding: 0.53333rem;
    background-color: #F9FBFB;
    border-style: none;
    line-height: 0.42667rem;
    box-shadow: inset 0px -3px 4px 0 #F4F8FD; }
    [data-dpr="2"] .tc-searchMain .tc-searchAddBySelf .tc-searchAddTextArea textarea {
      font-size: 32px; }
    [data-dpr="3"] .tc-searchMain .tc-searchAddBySelf .tc-searchAddTextArea textarea {
      font-size: 48px; }
  .tc-searchMain .tc-searchAddBySelf .tc-searchAddHosBtn {
    padding-top: 1.33333rem; }
    .tc-searchMain .tc-searchAddBySelf .tc-searchAddHosBtn span {
      font-size: 16px;
      color: #ffffff;
      display: block;
      width: 7.6rem;
      height: 0.96rem;
      line-height: 0.96rem;
      text-align: center;
      background-color: #00D6C6;
      border-radius: 100px;
      margin: 0 auto; }
      [data-dpr="2"] .tc-searchMain .tc-searchAddBySelf .tc-searchAddHosBtn span {
        font-size: 32px; }
      [data-dpr="3"] .tc-searchMain .tc-searchAddBySelf .tc-searchAddHosBtn span {
        font-size: 48px; }

.searchTypeSelect {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 3rem;
  padding: 0.13333rem 0 0.06667rem 0; }

.searchTypeSelectItem {
  display: block;
  font-size: 13px;
  color: #666;
  text-align: center;
  position: relative;
  background-color: #f4f4f4;
  padding-left: 0.13333rem;
  padding-right: 0.13333rem;
  border-right: 0.26667rem solid transparent;
  border-left: 2rem solid transparent;
  background-clip: padding-box; }
  [data-dpr="2"] .searchTypeSelectItem {
    font-size: 26px; }
  [data-dpr="3"] .searchTypeSelectItem {
    font-size: 39px; }
  .searchTypeSelectItem:before {
    content: attr(data-toolTips);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -1.86667rem;
    top: 55%;
    width: 1.38667rem;
    margin-top: -0.42667rem;
    height: 0.82667rem;
    line-height: 0.82667rem;
    background: transparent url("/images/img50/pages/discover/tips_bg.png") center center no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
    font-size: 20px;
    color: #3598db; }
    [data-dpr="2"] .searchTypeSelectItem:before {
      font-size: 40px; }
    [data-dpr="3"] .searchTypeSelectItem:before {
      font-size: 60px; }

.searchTypeSelectItem.selected {
  color: #3598db; }
  .searchTypeSelectItem.selected:before {
    visibility: visible;
    opacity: 1; }

.commonHeader {
  position: fixed;
  width: 100%;
  height: 1.17333rem;
  background-color: #FFFFFF;
  opacity: 1;
  top: 0;
  z-index: 5;
  border-bottom: 0.01333rem solid #DFE2E7; }
  .commonHeader .commonHeaderLeft a {
    display: block;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: url(../../../image/arrow_back.png) no-repeat;
    background-size: 100% 100%;
    top: 50%;
    margin-top: -0.4rem;
    left: 0.13333rem; }
  .commonHeader .commonHeaderCentre {
    width: 100%;
    height: 100%; }
    .commonHeader .commonHeaderCentre p {
      width: 5rem;
      height: 1.17333rem;
      line-height: 1.17333rem;
      margin: 0 auto;
      color: #333333;
      font-size: 17px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center; }
      [data-dpr="2"] .commonHeader .commonHeaderCentre p {
        font-size: 34px; }
      [data-dpr="3"] .commonHeader .commonHeaderCentre p {
        font-size: 51px; }
  .commonHeader .commonHeaderRight a {
    display: block;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: url(/image/img00/patientConsult/share_hide.png) no-repeat center;
    background-size: 0.46667rem;
    top: 50%;
    margin-top: -0.4rem;
    right: 0.13333rem; }

html, body {
  height: 100%; }

.sc-main {
  min-height: 100%;
  position: relative; }
  .sc-main .sc-infoBox {
    box-sizing: border-box;
    padding-bottom: 2.69333rem; }
  .sc-main .sc-infoList {
    padding: 0.8rem 0.64rem 1.2rem; }
    .sc-main .sc-infoList .sc-infoItem {
      display: table;
      font-size: 15px;
      line-height: 1; }
      [data-dpr="2"] .sc-main .sc-infoList .sc-infoItem {
        font-size: 30px; }
      [data-dpr="3"] .sc-main .sc-infoList .sc-infoItem {
        font-size: 45px; }
      .sc-main .sc-infoList .sc-infoItem .sc-infoItemLeft {
        display: table-cell;
        width: 3.30667rem;
        color: #222222; }
      .sc-main .sc-infoList .sc-infoItem .sc-infoItemRight {
        display: table-cell;
        width: 5.4rem;
        color: #CCCCCC;
        position: absolute; }
        .sc-main .sc-infoList .sc-infoItem .sc-infoItemRight .show {
          display: inline-block;
          width: 5.14667rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .sc-main .sc-infoList .sc-infoItem .sc-infoItemRight .show.selected {
            color: #555555; }
        .sc-main .sc-infoList .sc-infoItem .sc-infoItemRight.hasAfter::after {
          display: table;
          content: '';
          width: 0.16rem;
          height: 0.26667rem;
          position: absolute;
          top: 0.06667rem;
          right: 0;
          background: url("/image/img00/healthInfo/right_icon.png") no-repeat center;
          background-size: contain; }
        .sc-main .sc-infoList .sc-infoItem .sc-infoItemRight.hasSelect {
          position: relative; }
          .sc-main .sc-infoList .sc-infoItem .sc-infoItemRight.hasSelect span {
            position: absolute;
            z-index: 1; }
          .sc-main .sc-infoList .sc-infoItem .sc-infoItemRight.hasSelect select {
            border: none;
            outline: none;
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;
            background-color: #ffffff;
            display: block;
            color: #CCCCCC;
            width: 5.4rem;
            opacity: 0;
            position: absolute;
            top: 0;
            z-index: 2; }
    .sc-main .sc-infoList .sc-infoItem + .sc-infoItem {
      margin-top: 1.2rem; }
  .sc-main .sc-infoAskConfirm {
    padding: 0 0.64rem 0.58667rem; }
    .sc-main .sc-infoAskConfirm .sc-infoAskTitle {
      font-size: 15px;
      line-height: 1;
      color: #222222; }
      [data-dpr="2"] .sc-main .sc-infoAskConfirm .sc-infoAskTitle {
        font-size: 30px; }
      [data-dpr="3"] .sc-main .sc-infoAskConfirm .sc-infoAskTitle {
        font-size: 45px; }
    .sc-main .sc-infoAskConfirm .sc-infoAskConfirmList {
      margin-top: 0.8rem; }
      .sc-main .sc-infoAskConfirm .sc-infoAskConfirmList:after {
        content: '';
        display: table;
        clear: both; }
      .sc-main .sc-infoAskConfirm .sc-infoAskConfirmList.on .sc-infoAskConfirmIcon {
        background: url("/image/img00/directOperation/select_yes.png") no-repeat center;
        background-size: contain; }
      .sc-main .sc-infoAskConfirm .sc-infoAskConfirmList.on span {
        color: #00BEAF; }
      .sc-main .sc-infoAskConfirm .sc-infoAskConfirmList .sc-infoAskConfirmIcon {
        float: left;
        width: 0.4rem;
        height: 0.4rem;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: #fff;
        background: url("/image/img00/directOperation/select_no.png") no-repeat center;
        background-size: contain; }
      .sc-main .sc-infoAskConfirm .sc-infoAskConfirmList span {
        float: left;
        margin-left: 0.24rem;
        font-size: 15px;
        color: #555555;
        letter-spacing: 0px;
        line-height: 1; }
        [data-dpr="2"] .sc-main .sc-infoAskConfirm .sc-infoAskConfirmList span {
          font-size: 30px; }
        [data-dpr="3"] .sc-main .sc-infoAskConfirm .sc-infoAskConfirmList span {
          font-size: 45px; }
  .sc-main .sc-selectDoctor {
    margin: 0rem 0.64rem 0rem;
    padding: 0.53333rem 0.45333rem 0.93333rem;
    position: relative;
    background-color: #F9FBFB;
    display: none;
    font-size: 13px;
    border-radius: 0.13333rem; }
    [data-dpr="2"] .sc-main .sc-selectDoctor {
      font-size: 26px; }
    [data-dpr="3"] .sc-main .sc-selectDoctor {
      font-size: 39px; }
    .sc-main .sc-selectDoctor p {
      color: #909090; }
    .sc-main .sc-selectDoctor .modify {
      position: absolute;
      right: 0.53333rem;
      bottom: 0.53333rem;
      color: #00BEAF;
      line-height: 1;
      border-bottom: 0.01333rem solid #00BEAF; }
  .sc-main .sc-infoBtn {
    position: absolute;
    height: 2.02667rem;
    bottom: 0rem; }
    .sc-main .sc-infoBtn button {
      width: 7.6rem;
      background-color: #5BD7CF;
      color: #ffffff;
      height: 0.96rem;
      font-size: 15px;
      border-radius: 0.48rem;
      margin-left: 1.2rem; }
      [data-dpr="2"] .sc-main .sc-infoBtn button {
        font-size: 30px; }
      [data-dpr="3"] .sc-main .sc-infoBtn button {
        font-size: 45px; }
    .sc-main .sc-infoBtn button[disabled] {
      background-color: #DFDFDF; }
